html {
  font-size: 16px;
}

body {
  width: 100%;
  margin: 0 auto;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://i.imgur.com/Yq8zK4x.gif);
  /*https://disha34.files.wordpress.com/2017/09/gif.gif?w=736*/
  /*https://thumbs.gfycat.com/FatPowerlessArcherfish-size_restricted.gif*/
}
#container {
  height: auto;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  /*background-image: url(https://media2.giphy.com/media/gw3woz6oWXK48iE8/giphy.gif);*/
  /*background-image: url(https://i.ya-webdesign.com/images/clouds-gif-png-4.gif);*/
  /*background-image: url(https://i.gifer.com/V9mg.gif);*/
}
#nav-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  align-items: flex-end;
}

#home, #games, #help, #myAccount {
  transition: top ease-in-out 0.3s;
  font-family: 'Bubblegum Sans', cursive;  
/*-webkit-text-stroke: 3px black;  */
  text-decoration: none;
  letter-spacing: 2px;
  position: relative;
  font-size: 1rem;
/*font-weight: bold;*/
  cursor: pointer;
  margin: 20px;
  color: black;
  top: 0;
}
#dead-text {
  color: #ff0000;
  font-size: 2.5rem;
  letter-spacing: 2px;
  -webkit-text-stroke: 2px black;
  font-family: 'Luckiest Guy', cursive;  
}
#home:hover {
  top: -20px;
}
#games:hover {
  top: -20px;
}
#help:hover {
  top: -20px;
}
#myAccount:hover {
  top: -20px;
}
h1 {
  color: red;
  font-size: 10rem;
  line-height: 1.9;
  min-width: 100px;
  letter-spacing: 15px;
  -webkit-text-stroke: 2px black;
  font-family: 'Luckiest Guy', cursive;  
}
h2 {
  font-size: 5rem; 
  letter-spacing: 10px;
  font-family: 'Bubblegum Sans', cursive;
}
h3 {
  color: lime;
  font-size: 7rem;
  letter-spacing: 10px;
  -webkit-text-stroke: 2px black;
}
h4 {
  color: #ff0000;
  font-size: 7rem;
  letter-spacing: 10px;
  -webkit-text-stroke: 4px black;  
}
h5 {
  color: lime;
  font-size: 12rem;
  letter-spacing: 10px;
  margin-bottom: 300px;
  -webkit-text-stroke: 4px black;  
}
section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
#question {
  color: ghostwhite;
  display: inline;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: bold;
  -webkit-text-stroke: 1px black;  
  font-family: 'Modak', cursive;
}
#question span {
  color: lightpink;
}
#life_icons {
  display: flex;
  margin-left: 5%;
}
#life_a, #life_b, #life_c {
  width: 3.4em;
  padding: 1em;
}
#death_icon {
  width: 140px;
}
#score {
  width: 72%;
  padding: 0;
  margin: auto;
  display: flex;
  font-size: 1.3rem;
  visibility: hidden;
  letter-spacing: 2px;
  font-family: 'Bubblegum Sans', cursive;
}
#score_alert {
  top: 180px; 
  left: 38%;
  margin: 0;
  padding: 0;
  width: 3rem;
  display: none;
  position: absolute;
}
#num {
  color: lime;
  line-height: 1.2;
  font-size: 1.3rem;
  margin-left: 0.4em;
  letter-spacing: 3px;
  -webkit-text-stroke: 2px black;  
  font-family: 'Luckiest Guy', cursive;
}
#groceries {
  position: relative;
  width: 10.5em;
  display: inline;
  margin-top: -10px;
  margin-bottom: -70px;
}
#butterflies {
  left: 42%;
  bottom: 25%;
  width: 18%;
  display: none;
  position: absolute;
}
#kids {
 /*height: 4%;*/
  color: lightpink;
  font-size: 2.7rem;
/*font-weight: bold;*/
  line-height: 1.4;
  letter-spacing: 2px;
  border-radius: 30px;
  background-color: ghostwhite;
  padding: 0.2em 0.5em 0em 0.5em;
  border: 10px ridge ghostwhite;
  -webkit-text-stroke: 2px black;  
  font-family: 'Modak', cursive;
}

#fruit-images {
  display: none;
}

#guess {
  color: black;
  display: inline;
  cursor: pointer;
  font-size: 13px;
  border-radius: 13px;
  letter-spacing: 2px;
  border: 2px solid black;
  padding: 0.6em 1em 0.6em 1.1em;
  background-color: ghostwhite;
  box-shadow: 0px 2px 2px black;
  font-family: 'Bubblegum Sans', cursive;  
}
#next {
  color: black;
  display: none;
  cursor: pointer;
  font-size: 13px;
  visibility: visible;
  border-radius: 13px;
  letter-spacing: 2px;
  border: 2px solid black;
  padding: 7px 10px 7px 10px;
  background-color: ghostwhite;
  box-shadow: 0px 2px 2px black;
  font-family: 'Bubblegum Sans', cursive;  
}

#next:focus {outline:0;}

/*gets rid of default button border */
#guess:focus {outline:0;}
 
#options {
  margin: 0;
  padding: 0;
}

/* container */
.fruit-boxes {
  flex: 1;
  width: 50em;
  padding: 0px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  visibility: visible;
  font-family: cursive;
  justify-content: center;
}

/*lines inside gray boxes */
.fruit-boxes img {
  flex: 1;
  width: 110px;
  height: 90px;
  margin: 30px;
  padding: 0px;
  visibility: hidden;
  text-align: center;
}

/* gray boxes */
.fruit-box {
  box-shadow: 4px 4px 1px black;
  background-color: lightgray;
  border: 10px ridge white;
  border-radius: 10%;
  visibility: visible;
  margin: 5px;
}
#praise, #praiseImage {
  display: none;
}
#options {
  display: none;
}

#fruit-btn, #vegetable-btn {
  color: black;
  font-size: 13px;
  cursor: pointer;
  border-radius: 13px;
  letter-spacing: 2px;
  background-color: ghostwhite;
  border: 2px solid black;
  padding: 8px 10px 8px 10px;
  box-shadow: 0px 2px 2px black;
  font-family: 'Bubblegum Sans', cursive;
}

#fruit-btn {
  margin-right: 1.5px;
}
#fruit-btn:hover {
/*  box-shadow: 12px 12px 5px black;*/
  transition: all 0.4s ease-in-out;
  background-color: lightseagreen;
  color: white;
}

#fruit-btn:focus {outline:0;}

.vegetable-boxes {
  flex: 1;
  width: 70%;
  padding: 0px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  visibility: visible;
  font-family: cursive;
  justify-content: center;
}
.vegetable-boxes img {
  width: 110px;
  height: 90px;
  margin: 30px;
  padding: 0px;
  visibility: hidden;
  text-align: center;
}
.vegetable-box {
  box-shadow: 4px 4px 1px black;
  background-color: lightgray;
  border: 10px ridge white;
  border-radius: 10%;
  visibility: hidden;
  margin: 5px;
}

#vegetable-btn {
  margin-left: 1.5px;
}
#vegetable-btn:hover {
/*  box-shadow: 12px 12px 5px black;*/
  transition: all 0.4s ease-in-out;
  background-color: lightseagreen;
  color: white;
}
#vegetable-btn:focus {outline:0;}

/*
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
  justify-content: space-between;
}

.flex-container div {
  margin: 10px;
  width: 150px;
  font-size: 30px;
  line-height: 75px;
  text-align: center;
  background-color: #f1f1f1;
}
*/
 
/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   body {
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://i.imgur.com/Yq8zK4x.gif);
    } 
        
  #container {
    width: 100%;
    margin: 0 auto;
    border: none;
  }
    
  #kids {
    width: 100%;
    height: auto;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 4px; 
    -webkit-text-stroke: 1px black;  
    background-color: transparent;
    padding: 0em 0.1em 0em 0.1em;
    color: white;
    border: none;
  }
    
  #fruit-images {
    display: none;
  }
    
  #nav-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    font-family: cursive;
    margin-bottom: 15%;
    justify-content: space-evenly;
  }
    
  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    
  #home, #games, #help, #myAccount {
    font-size: 1rem;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px black;
    font-family: 'Modak', cursive;  
    transition: top ease-in-out 0.3s;
    text-decoration: none;
    position: relative;
/*    font-weight: bold;*/
    cursor: pointer;
    margin: 10px;
    color: white;
    top: -40px;
  }
    
   #dead-text {
    color: #ff0000;
    font-size: 2em;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px black;
    font-family: 'Luckiest Guy', cursive;  
   }
    
   h1 {
    color: red;
    font-size: 2.3em;
    letter-spacing: 4px;
    -webkit-text-stroke: 2px black;
  }
    
  h3 {
    color: lime;
    font-size: 2em;
    letter-spacing: 4px;
    -webkit-text-stroke: 2px black;
  }
    
  h4 {
    color: #ff0000;
    font-size: 2em;
    letter-spacing: 4px;
    -webkit-text-stroke: 2px black;  
  }
    
  #question {
    color: white;
    display: inline;
    line-height: 1.2;
    font-size: 1.2rem;
    /*font-weight: bold;*/
    letter-spacing: 6px;
    -webkit-text-stroke: 1px black;  
   font-family: 'Modak', cursive;
  }
    
  #question span {
    color: lightgreen;
  }
    
  #life_icons {
    margin: 0;
    padding: 0px;
    justify-content: center;
  }
    
  #life_a, #life_b, #life_c {
    width: 60px;
    margin-bottom: 20px;
    padding: 1em;
  }
    
  #death_icon {
    width: 140px;
  }
    
  #score {
    display: none;
  }
    
  #score_alert {
    display: none;
  }
 
  #num {
    display: none;
  }
   
 #butterflies {
   display: none;
 }
    
  #groceries {
    width: 38%;
    display: inline;
    padding-top: 0px;
    visibility: visible;
    margin-bottom: -65px;
  }  
    
  #guess {
    margin: 0px;
    line-height: 1.3;
    font-size: 1rem;
    box-shadow: none;
    letter-spacing: 2px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 0.4em 1em 0.4em 1.1em;
    font-family: 'Bubblegum Sans', cursive;  
    }
  #guess:focus {outline:0;}

  #next {
    margin: 0px;
    display: none;
    font-size: 1rem;
    box-shadow: none;
    line-height: 1.3;
    letter-spacing: 2px;
    border-radius: 20px;
    border: 2px solid black;
    padding: 0.4em 1em 0.4em 1.1em;
    font-family: 'Bubblegum Sans', cursive;  
  }
  #next:focus {outline:0;}

    /*container */
  .fruit-boxes {
    display: none;
    width: 90%;
    padding: 0px;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    
  /*lines inside gray boxes */
  .fruit-boxes img {
    width: 60px;
    height: 60px;
    margin: 2px;
    padding: 10px;
    text-align: center;
   }
  /* gray boxes */
  .fruit-box {
    box-shadow: 5px 5px 2px black;
    background-color: lightgray;
    border: 0.3em ridge white;
    visibility: visible;
    margin: 10px;
    width: 90px;
  }
    
  #options {
    
  }
  
  #fruit-btn, #vegetable-btn {
    margin: 3px;
    color: black;
    cursor: pointer;
    line-height: 1.3;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: 'Bubblegum Sans', cursive;
    padding: 0.4em 1em 0.4em 1.1em;
    border: 2px solid black;
    box-shadow: none;
    border-radius: 20px;
  }
    
  #fruit-btn:hover {
    color: black;
    box-shadow: none;
    transition: none;
    background-color: white;
  }

  #fruit-btn:focus {outline:0;}

  #vegetable-btn:hover {
    color: black;
    box-shadow: none;
    transition: none;
    background-color: white;
  }
    
  #vegetable-btn:focus {outline:0;}

  .vegetable-boxes {
    display: none;
    padding: 0px; 
  }
    
  .vegetable-boxes img {
    width: 60px;
    height: 60px;
    margin: 2px;
    padding: 10px;
    text-align: center;
  }
    
  .vegetable-box {
    box-shadow: 5px 5px 2px black;
    background-color: lightgray;
    border: 0.3em ridge white;
    visibility: visible;
    margin: 10px;
    width: 90px;
  }
  
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {...}*/
/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {...}*/
/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {...}*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...}*/
